<div class="main">
  <div class="widget fluid">
    <div class="header">
      <h4>Thêm mới hồ sơ</h4>
    </div>
    <div class="grid12">
      <div class="grid2">
        <fieldset>
          <div class="thumb"><img src="https://test-v1.smarthos.vn/assets/images/default.jpg"
                 alt="">
          </div>
          <ul class="popup-group">
            <li><a href="" class="btn"><mat-icon>favorite</mat-icon>Mối quan hệ</a></li>
            <li><a href="" class="btn"><mat-icon>check_box</mat-icon>Bảo hiểm</a></li>
            <li><a href="" class="btn"><mat-icon>image</mat-icon>Thư viện</a></li>
            <li><a href="" class="btn"><mat-icon>event_note</mat-icon>Ghi chú</a></li>
            <li class="no-border">
              <fieldset class="border">
                <legend>Lấy số sảnh</legend>
                <ul class="popup-group">
                  <li class="no-border">
                    <div class="grid12">
                      <div class="grid8">
                        <input matInput placeholder="Nhập số cần gọi">
                      </div>
                      <div class="grid4">
                        <mat-icon>volume_up</mat-icon>
                      </div>
                    </div>
                  </li>
                  <li class="no-border">
                    <form class="">
                      <mat-radio-group name="bread" aria-label="Breads">
                        <mat-radio-button value="voluntary-examination">KHÁM TỰ
                          NGUYỆN</mat-radio-button>
                        <mat-radio-button value="insurance">BẢO HIỂM BẢO LÃNH TRỰC
                          TIẾP</mat-radio-button>
                        <mat-radio-button value="priority-examination">KHÁM ƯU
                          TIÊN</mat-radio-button>
                        <mat-radio-button value="pay">Thanh toán</mat-radio-button>
                      </mat-radio-group>
                      <ul class="popup-group">
                        <li><a href="" class="btn"><mat-icon>list</mat-icon>Số gọi lỡ</a></li>
                        <li><a href="" class="btn"><mat-icon>list</mat-icon>Số chưa gọi</a></li>
                      </ul>
                    </form>
                  </li>
                </ul>


              </fieldset>
            </li>
          </ul>
        </fieldset>
      </div>
      <div class="grid10">
        <form>
          <fieldset>
            <div class="grid12">
              <div class="grid8">
                <div class="grid12">
                  <div class="grid6">
                    <div class="form-group row">
                      <label for="" class="col-sm-5 col-form-label">Quét mã QR</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-5 col-form-label">BA mãn tính</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-5 col-form-label">Mã Y tế</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-5 col-form-label">Họ & tên</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="" placeholder="Họ & Tên">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-5 col-form-label">Ngày sinh</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="" placeholder="_/_/__">
                      </div>
                    </div>
                    <fieldset class="form-group">
                      <div class="row">
                        <legend class="col-form-label col-sm-5 pt-0">Giới tính</legend>
                        <div class="col-sm-7">
                          <div class="row">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="gridRadios"
                                     id="gridRadios1"
                                     value="man">
                              <label class="form-check-label" for="gridRadios1">
                                Nam
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="gridRadios"
                                     id="gridRadios2"
                                     value="woman">
                              <label class="form-check-label" for="gridRadios2">
                                Nữ
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="form-group row">
                      <label for="" class="col-sm-5 col-form-label">Điện thoại</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id=""
                               placeholder="Nhập số điện thoại">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-5 col-form-label">Số nhà</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="" placeholder="Số nhà">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-5 col-form-label">Hộ chiếu</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id=""
                               placeholder="Nhập số Hộ chiếu">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-5 col-form-label">Số CMND</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id=""
                               placeholder="Nhập số Hộ chiếu">
                      </div>
                    </div>
                  </div>
                  <div class="grid6">
                    <div class="form-group row">
                      <label class="col-sm-5 my-1 mr-2" for="country">Quốc gia</label>
                      <select class="col-sm-7 custom-select my-1 mr-sm-2" id="country">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 my-1 mr-2" for="province">Tỉnh/Thành</label>
                      <select class="col-sm-7 custom-select my-1 mr-sm-2" id="province">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 my-1 mr-2" for="district">Quận/Huyện</label>
                      <select class="col-sm-7 custom-select my-1 mr-sm-2" id="district">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 my-1 mr-2" for="wards">Phường/Xã</label>
                      <select class="col-sm-7 custom-select my-1 mr-sm-2" id="wards">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 my-1 mr-2" for="nationality">Quốc tịch</label>
                      <select class="col-sm-7 custom-select my-1 mr-sm-2" id="nationality">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 my-1 mr-2" for="nationality2">Quốc tịch (2)</label>
                      <select class="col-sm-7 custom-select my-1 mr-sm-2" id="nationality2">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 my-1 mr-2" for="object">Đối tượng</label>
                      <select class="col-sm-7 custom-select my-1 mr-sm-2" id="object">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 my-1 mr-2" for="reason">Lý do tiếp cận</label>
                      <select class="col-sm-7 custom-select my-1 mr-sm-2" id="reason">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-5 col-form-label">Email</label>
                      <div class="col-sm-7">
                        <input type="email" class="form-control" id=""
                               placeholder="Nhập địa chỉ email">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid4">
                <div class="form-group row">
                  <label class="col-sm-5 my-1 mr-2" for="nation">Dân tộc</label>
                  <select class="col-sm-7 custom-select my-1 mr-sm-2" id="nation">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="form-group row">
                  <label class="col-sm-5 my-1 mr-2" for="company">Công ty</label>
                  <select class="col-sm-7 custom-select my-1 mr-sm-2" id="company">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="form-group row">
                  <label for="" class="col-sm-5 col-form-label">Email</label>
                  <div class="col-sm-7">
                    <input type="email" class="form-control" id="" placeholder="Nhập địa chỉ email">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-sm-5 col-form-label">MST cá nhân</label>
                  <div class="col-sm-7">
                    <input type="email" class="form-control" id="" placeholder="Nhập địa chỉ email">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-sm-5 col-form-label">BA mãn tính</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-5 my-1 mr-2" for="job">Nghề nghiệp</label>
                  <select class="col-sm-7 custom-select my-1 mr-sm-2" id="job">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>