<div class="main">
  <div class="widget fluid">
    <div class="header">
      <h4>Thêm mới hồ sơ</h4>
    </div>
    <div class="grid12">
      <div class="grid2">
        <fieldset>
          <div class="thumb"><img src="https://test-v1.smarthos.vn/assets/images/default.jpg"
                 alt="">
          </div>
          <ul class="popup-group">
            <li><a href="" class="btn"><mat-icon>favorite</mat-icon>Mối quan hệ</a></li>
            <li><a href="" class="btn"><mat-icon>check_box</mat-icon>Bảo hiểm</a></li>
            <li><a href="" class="btn"><mat-icon>image</mat-icon>Thư viện</a></li>
            <li><a href="" class="btn"><mat-icon>event_note</mat-icon>Ghi chú</a></li>
            <li class="no-border">
              <fieldset class="border">
                <legend>Lấy số sảnh</legend>
                <ul class="popup-group">
                  <li  class="no-border">
                    <div class="grid12">
                      <div class="grid8">
                        <input matInput placeholder="Nhập số cần gọi">
                      </div>
                      <div class="grid4">
                        <mat-icon>volume_up</mat-icon>
                      </div>
                    </div>
                  </li>
                  <li class="no-border">
                    <form class="">
                      <mat-radio-group name="bread" aria-label="Breads">
                        <mat-radio-button value="voluntary-examination">KHÁM TỰ
                          NGUYỆN</mat-radio-button>
                        <mat-radio-button value="insurance">BẢO HIỂM BẢO LÃNH TRỰC
                          TIẾP</mat-radio-button>
                        <mat-radio-button value="priority-examination">KHÁM ƯU
                          TIÊN</mat-radio-button>
                        <mat-radio-button value="pay">Thanh toán</mat-radio-button>
                      </mat-radio-group>
                      <ul class="popup-group">
                        <li><a href="" class="btn"><mat-icon>list</mat-icon>Số gọi lỡ</a></li>
                        <li><a href="" class="btn"><mat-icon>list</mat-icon>Số chưa gọi</a></li>
                      </ul>
                    </form>
                  </li>
                </ul>


              </fieldset>
            </li>
          </ul>
        </fieldset>
      </div>
      <div class="grid10">
        <form>
          <fieldset>
            <div class="grid8"></div>
            <div class="grid4"></div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>